<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Chat Seguro{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="{% block body_class %}{% endblock %}">

  {% set no_topbar_pages = ['login', 'register', 'inbox', 'chat'] %}

  {% if request.endpoint not in no_topbar_pages %}
  <header class="topbar">
    <div class="brand">🔐 Secure Chat</div>
    <nav class="nav">
      <a href="{{ url_for('index') }}">Menu</a>
      <a href="{{ url_for('send') }}">Enviar</a>
      <a href="{{ url_for('inbox') }}">Inbox</a>
      <a href="{{ url_for('logout') }}">Sair</a>
    </nav>
  </header>
  {% endif %}

  <main class="container {% block main_class %}{% endblock %} {% if request.endpoint in ['inbox', 'chat'] %}full-chat-layout{% endif %}">

    {% if request.endpoint not in ['inbox', 'chat'] %}
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          <div class="flash-box">
            {% for m in msgs %}
              <div class="flash-msg">{{ m }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  {% if request.endpoint not in no_topbar_pages %}
  <footer class="footer">
    @2026_Matsinhe_Fumo_Macamo
  </footer>
  {% endif %}

</body>
</html>