{% extends "layout.html" %}
{% block content %}
<section class="card">
  <h1>🔑 Login</h1>
  <p>Entra com a tua conta.</p>

  <form class="form" method="post">
    <label>Username</label>
    <input name="username" required>

    <label>Senha</label>
    <input type="password" name="password" required>

    <div class="actions">
      <button class="btn" type="submit">Entrar</button>
      <a class="btn secondary" href="{{ url_for('register') }}">Criar conta</a>
    </div>
  </form>
</section>
{% endblock %}