{% extends "layout.html" %}
{% block content %}
<section class="card">
  <h1>Enviar mensagem</h1>

  <form class="form" method="post" enctype="multipart/form-data" action="#">
    <label>Destinatário (apelido/ID)</label>
    <input type="text" placeholder="ex: Estudante2" required>

    <label>Mensagem</label>
    <textarea rows="5" placeholder="Escreva a sua mensagem..." required></textarea>

    <label>Imagem (opcional)</label>
    <input type="file" accept="image/*">

    <div class="actions">
      <button class="btn" type="submit">Enviar</button>
      <a class="btn ghost" href="{{ url_for('index') }}">Voltar</a>
    </div>
  </form>

  <p class="hint">
    (Fase 2) Aqui vamos aplicar: hash + assinatura + cifragem estilo PGP antes de “enviar”.
  </p>
</section>
{% endblock %}